services:
  pg:
    restart: unless-stopped
    image: postgres:16
    container_name: pg
    ports:
      - 5432:5432
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - type: tmpfs
        target: /var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d nbxplorer -h 127.0.0.1 -p 5432"]
      interval: 2s
      timeout: 2s
      retries: 30
  nbxplorer:
    restart: unless-stopped
    container_name: nbxplorer
    ports:
      - 32838:32838
    image: nicolasdorier/nbxplorer:2.5.30
    environment:
      - NBXPLORER_NETWORK=regtest
      - NBXPLORER_CHAINS=btc
      - NBXPLORER_BTCRPCURL=http://bitcoin:18443
      - NBXPLORER_BTCNODEENDPOINT=bitcoin:18444
      - NBXPLORER_BTCRPCUSER=admin1
      - NBXPLORER_BTCRPCPASSWORD=123
      - NBXPLORER_VERBOSE=1
      - NBXPLORER_BIND=0.0.0.0:32838
      - NBXPLORER_TRIMEVENTS=10000
      - NBXPLORER_SIGNALFILESDIR=/datadir
      - NBXPLORER_POSTGRES=User ID=postgres;Host=pg;Port=5432;Application Name=nbxplorer;MaxPoolSize=20;Database=nbxplorer
      - NBXPLORER_EXPOSERPC=1
      - NBXPLORER_NOAUTH=1
    volumes:
      - type: tmpfs
        target: /datadir
    depends_on:
      pg:
        condition: service_healthy

  arkd-wallet:
    restart: unless-stopped
    build:
      context: .
      dockerfile: arkdwallet.Dockerfile
    container_name: arkd-wallet
    depends_on:
      - nbxplorer
    ports:
      - "6060:6060"
    environment:
      - ARKD_WALLET_LOG_LEVEL=5
      - ARKD_WALLET_NBXPLORER_URL=http://nbxplorer:32838
      - ARKD_WALLET_DATADIR=./data/regtest
      - ARKD_WALLET_NETWORK=regtest
      - ARKD_WALLET_SIGNER_KEY=afcd3fa10f82a05fddc9574fdb13b3991b568e89cc39a72ba4401df8abef35f0
    volumes:
      - arkd-wallet-volume:/app/data
  redis:
    restart: unless-stopped
    image: redis:7-alpine
    container_name: redis
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 2s
      retries: 30
  arkd:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: arkd
    restart: unless-stopped
    depends_on:
      - arkd-wallet
      - pg
      - redis
    ports:
      - "7070:7070"
      - "7071:7071"
    environment:
      - ARKD_LOG_LEVEL=6
      - ARKD_NO_MACAROONS=true
      - ARKD_SCHEDULER_TYPE=block
      - ARKD_ALLOW_CSV_BLOCK_TYPE=true
      - ARKD_DATADIR=./data/regtest
      - ARKD_WALLET_ADDR=arkd-wallet:6060
      - ARKD_ESPLORA_URL=http://chopsticks:3000
      - ARKD_DB_TYPE=${ARKD_DB_TYPE:-sqlite}
      - ARKD_PG_DB_URL=${ARKD_PG_DB_URL:-}
      - ARKD_PG_EVENT_DB_URL=${ARKD_PG_EVENT_DB_URL:-}
      - ARKD_PG_DB_AUTOCREATE=${ARKD_PG_DB_AUTOCREATE:-false}
      - ARKD_EVENT_DB_TYPE=${ARKD_EVENT_DB_TYPE:-badger}
      - ARKD_LIVE_STORE_TYPE=${ARKD_LIVE_STORE_TYPE:-inmemory}
      - ARKD_REDIS_URL=${ARKD_REDIS_URL:-}
      - ARKD_SESSION_DURATION=${ARKD_SESSION_DURATION:-10}
      - ARKD_ROUND_REPORT_ENABLED=${ARKD_ROUND_REPORT_ENABLED:-true}

volumes:
  arkd-wallet-volume:
    name: arkd-wallet-volume
  arkd-volume:
    name: arkd-volume

networks:
  default:
    name: nigiri
    external: true
