name: ci_integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  test:
    name: ${{ matrix.env_name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - env_target: docker-run
            env_name: postgres/redis
          - env_target: docker-run-light
            env_name: sqlite/badger
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '>=1.25.6'
      
      - name: Run Nigiri
        uses: vulpemventures/nigiri-github-action@v1

      - name: Run Arkd and Arkd Wallet
        run: make ${{ matrix.env_target }}

      - name: Run test
        run: make integrationtest
      
      - name: Capture arkd logs
        if: failure()
        run: |
          echo "=== Arkd Logs ==="
          docker logs arkd
          echo "=== End Arkd Logs ==="
      
      - name: Tear down
        if: always()
        run: make docker-stop