name: API Spec Changes

on:
  push:
    branches: 
      - master
    paths:
      - "api-spec/**"
  pull_request:
    branches:
      - '*'
    paths:
      - "api-spec/**"


jobs:
  verify-proto:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: bufbuild/buf-setup-action@v1.50.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Check proto linting
        run: buf lint
      
      - name: Check for breaking changes
        if: github.event_name == 'pull_request'
        run: |
          # Compare against the target branch (usually master)
          buf breaking --against "https://github.com/${{ github.repository }}.git#branch=${{ github.base_ref }},subdir=api-spec/protobuf"